<h1> Nuestro primer formulario </h1>
<form action="<%= users_create_path %>" method="get">
 <label>Email</label>
 <input type="email" name="email">
 <label>Nombre</label>
 <input name="nombre">
 <label>Edad</label>
 <input name="age" type="number" value="0" min="1" max="99">
 <input type="submit" value="Enviar">
</form>


<h1> Despues de Enviar </h1>
<%= params %>
<p>Email</p>
<%= params[:email] %>
<p>Nombre</p>
<%= params[:nombre] %>
<p>Hola_Mundo:</p>
<%= params[:hello_input] %>